<!DOCTYPE HTML>
<html class="full">

<head>
	<title>iTrade - Login register</title>


	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name="keywords" content="Template, html, premium, themeforest" />
	<meta name="description" content="iTrade - Book trading app">
	<meta name="author" content="RAK">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700,900" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	<!-- Styles -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/pe-icon-7-stroke/css/pe-icon-7.css">
	<link rel="stylesheet" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/animate.min.css">
	<link rel="stylesheet" href="/assets/css/animations.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/login-styles.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/theme-orange.css">
	<!--  Js -->
	<script src="/assets/js/modernizr.custom.js"></script>
	<script src="/assets/js/jquery-2.1.3.min.js"></script>
</head>

<body class="full">
	
	<!-- PRELOADER -->
	<div class="preloader">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
	<!-- end: PRELOADER  -->
	
	{{#if success}}
		<div class ="alert alert-danger">{{success}}</div>
	{{/if}}


	<div class="global-wrap">
		<div class="full-page">
			<div class="bg-holder full">
				<div class="bg-mask"></div>
				<div class="bg-img" style="background-image:url(/assets/img/bg/login.jpg);"></div>
				<div class="bg-holder-content full text-white">
					<a class="logo-holder" href="#" style="font-size:20px">
                        <img src="/assets/img/logo-white-small.png" alt="iTrade logo" title="iTrade" /> iTrade Book Trading System
                    </a>
					<div class="full-center" style="width:80%">
						<div class="container">
							<div class="row row-wrap" data-gutter="60">
								<div class="col-md-4" style="text-align:justify">
									<h3 class="mb15">Welcome to iTrade</h3>
									<p class="text-white">iTrade is an online book trading website which helps you trade your books with other people who are interested in trading their books.</p>
									<p class="text-white">Website developed by Rohan, Anshul, and Kushagra.</p>
								</div>
								<div class="col-md-4">
									<h3 class="mb15">Login</h3>
									<form method = 'post' action="/users/login">
										<div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
											<label>Email id</label>
											<input class="form-control" placeholder="e.g. you@hosting.com" type="text" name="username" />
										</div>
										<div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
											<label>Password</label>
											<input class="form-control" type="password" placeholder="your password" name="password" />
										</div>
										<input class="btn btn-primary" name="loginButton" type="submit" value="Sign in" />
									</form>
								</div>
								<div class="col-md-4">
									<h3 class="mb15">New To iTrade?</h3>
									<form method = 'post' action="/users/register">
										<div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
											<label>Full Name</label>
											<input class="form-control" name="name" placeholder="e.g. Bruce Wayne" type="text" />
										</div>
										<div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
											<label>Email</label>
											<input class="form-control" name="email" placeholder="e.g. you@hosting.com" type="text" />
										</div>
										<div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
											<label>Password</label>
											<input class="form-control" name="password" type="password" placeholder="your password" />
										</div>
										<input class="btn btn-primary" type="submit" name="registerSubmit" value="Sign up for Trader" />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="/assets/js/masonry.pkgd.min.js"></script>
		<script src="/assets/js/jquery.backstretch.min.js"></script>
		<script src="/assets/js/jquery.stellar.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/jquery.shuffle.min.js"></script>
		<script src="/assets/js/jquery.hoverdir.js"></script>
		<script src="/assets/js/jquery.lazy.min.js"></script>
		<script src="/assets/js/functions.js"></script>
		<script src="/assets/js/custom.js"></script>
	</div>
</body>

</html>
